body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container, .container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.form-group {
    border-radius: 25px;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal; /* Changed to normal */
    color: black;
}

.form-group input {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 23px;
}

.form-group input:focus {
    border-color: #a29bfe;
    outline: none;
}

.form-group.buttons {
    text-align: center;
}

.form-group.buttons button {
    width: 50%;
    height:30px;
    background-color: #927A7A;
    color: white;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.form-group.buttons button:hover {
    background-color: #9e8c7c;
}

p {
    color: #333;
    margin: 5px 0;
}

p a {
    color: #6c5ce7;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.link {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center; /* Center text alignment */
    margin: 0 auto; /* Center block element */
}

.status {
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

.pp {
    margin-bottom: 1px;
}
