/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Container Styling */
.login-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: calc(100% - 12px);
        padding: 8px;
    }

    form input[type="submit"] {
        padding: 8px 15px;
    }

    table th,
    table td {
        padding: 8px;
    }
}

.link {
    font-size:12px;
    font-family:arial;
}

.status {
    width:300px;
    height:30px;
    border-radius:12px;
}

.pp {
    margin-bottom:1px;
}

